<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/recipe/list">Recipes</a>
    </li>
    <ng-template [ngIf]="auth.isLoggedIn()">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="onNewRecipe()">New recipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onLogout()">Logout</a>
      </li>
    </ng-template>
    <ng-template [ngIf]="!auth.isLoggedIn()">
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ng-template>
  </ul>
</nav>
