<div class="row justify-content-md-center">
  <div class="col-md-6 col-md-offset-3">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
        />
      </div>
      <!--<span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">-->
        <!--<p class="alert alert-danger"-->
           <!--*ngIf="loginForm.get('email').errors['required']"-->
        <!--&gt;email address is required.</p>-->
        <!--<p class="alert alert-danger"-->
           <!--*ngIf="loginForm.get('email').errors['invalidFormat'] && !loginForm.get('email').errors['required']"-->
        <!--&gt;Enter a correct email address.</p>-->
      <!--</span>-->

      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
        />
      </div>
      <!--<p class="alert alert-danger"-->
         <!--*ngIf="!loginForm.get('password').valid && loginForm.get('password').touched"-->
      <!--&gt;password is required.</p>-->

      <button
        class="btn btn-primary btn-block"
        type="submit"
        [disabled]="!loginForm.valid"
      >Login</button>
      <div class="alert alert-warning" role="alert" *ngIf="invalidLogin">
        invalid email or password.
      </div>
      <button
        class="btn btn-secondary btn-block"
        type="button"
        (click)="onSignup()"
      >Signup</button>
    </form>

  </div>
</div>




