<div class="row justify-content-md-center">
  <div class="col-md-6 col-md-offset-2">
    <form [formGroup]="signupForm" (ngSubmit)="onSignup()">

      <div class="form-group">
        <label for="email">Email*</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
        />
      </div>
      <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
        <p class="error-message"
           *ngIf="signupForm.get('email').errors['required']"
        >email address is required.</p>
        <p class="error-message"
           *ngIf="signupForm.get('email').errors['invalidFormat'] && !signupForm.get('email').errors['required']"
        >Enter a correct email address.</p>
      </span>

      <div class="form-group">
        <label for="password">Password*</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
        />
      </div>
      <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">
        <p class="error-message"
           *ngIf="signupForm.get('password').errors['required']"
        >password is required.</p>
        <p class="error-message"
           *ngIf="signupForm.get('password').errors['invalidFormat']"
        >your password must be at least 6 long.</p>
      </span>

      <button class="btn btn-primary" type="submit"
        [disabled]="!signupForm.valid"
      >Signup</button>

      <p class="error-message" *ngIf="singupError"
      >failed to singup.</p>
      <p class="error-message" *ngIf="loginError"
      >failed to login.</p>

    </form>
  </div>
</div>

