<div class="row justify-content-md-center">
  <div class="col-md-6 col-md-offset-2">
    <form [formGroup]="signupForm" (ngSubmit)="onSignup()">

      <div class="form-group">
        <label for="email">Email*</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
        />
      </div>
      <span *ngIf="!email.valid && email.touched">
        <p class="alert alert-danger"
           *ngIf="email.errors['required']"
        >email address is required.</p>
        <p class="alert alert-danger"
           *ngIf="email.errors['invalidFormat'] && !email.errors['required']"
        >Enter a correct email address.</p>
        <p class="alert alert-danger"
           *ngIf="email.errors['emailCollision'] && !email.errors['invalidFormat'] && !email.errors['required']"
        >Email address is not available.</p>
      </span>

      <div class="form-group">
        <label for="password">Password*</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
        />
      </div>
      <span *ngIf="!password.valid && password.touched">
        <p class="alert alert-dangere"
           *ngIf="password.errors['required']"
        >password is required.</p>
        <p class="alert alert-danger"
           *ngIf="password.errors['invalidFormat'] && !password.errors['required']"
        >your password must be at least 6 long.</p>
      </span>

      <button class="btn btn-primary btn-block" type="submit"
        [disabled]="!signupForm.valid"
      >Signup</button>

      <p class="alert alert-danger" *ngIf="singupError"
      >failed to singup.</p>
      <p class="alert alert-danger" *ngIf="loginError"
      >failed to login.</p>

    </form>
  </div>
</div>

